@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.postCardImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* postCard.module.css */
.likeButton {
  transition: transform 0.2s ease;
}

.likeButton.liked {
  transform: scale(1.3);
  color: #f87171; /* red-400 */
}

